html {
  background: linen;
}

#grid {
  display: grid;
  margin-top: 100px;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
}

.grid-item {
  position: relative;
  display: flex;
}

.grid-image {
  max-width: 100%;
  align-self: flex-start;
  opacity: 0;
  transition-duration: 500ms;
  z-index: 100;
  border: 1px solid #201e1b;
}

.grid-spine-item {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4em;
  //border: 1px solid #201e1b;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

button {
  color: #FF6464;
  font-family: 'VCR';
  position: absolute;
  z-index: 200;
  font-size: 2em;
  top: 8px;
  right: 10px;
  background: none;
  outline: none;
  border: none;
  &:focus {
    outline: none;
  }
  &:hover {
    cursor: pointer; 
    animation: pulse 1500ms;
  }
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.5); }
  100% { transform: scale(1); }
}

@keyframes beat {
  0% { font-size: 4em; }
  40% { font-size: 9em; }
  100% { font-size: 4em; }
}

@keyframes beatsafari {
  0% { font-size: 4em; }
  40% { font-size: 4em; }
  100% { font-size: 4em; }
}


.window {
  cursor: move;
  padding: 0 20px;
  z-index: 5000;
  background-color: linen;
  height: 350px;
  background: #FF6464;
  width: 400px;
  position: fixed;
  top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: middle;
  justify-content: space-between;
  left: 5vw;
  border: 2px solid black;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
  }

  h1 {
    font-size: 1.2em;
  }
  
  
  textarea {
    resize: none;
    font-family: 'VCR';
    font-size: 1rem;
    background-color: linen;
    margin: auto;
    height: 80%;
    width: 100%;
    border: 2px solid black;
  }

  i {
    cursor: pointer;
    //color: black;
    font-size: 2em;
    align-self: flex-end;
  }

  #save {
    margin: 10px 0px;
    position: static;
    animation: none;
    color: black;
    align-self: flex-start;
    font-size: 1em;
  }
}

header {
  padding-top: 10px;
  //padding-left: 50px;
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  background: linen;
  #searchbar {
    font-family: 'VCR';
    background-color: linen;
    border: none;
    &:focus {
      outline: none;
      border: none;
    }
  }

}
 
.pulse {
  z-index: 5000;
  border: none;
  animation: beat 2500ms 2 ease-in-out;
  overflow: auto;
}

.pulse-safari {
  z-index: 5000;
  border: none;
  animation: beatsafari 2500ms 2 ease-in-out;
  overflow: auto;
}
