html {
  background: linen;
  
}

#grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
}

.grid-item {
  position: relative;
  display: flex;
}

.grid-image {
  max-width: 100%;
  opacity: 0;
  transition-duration: 500ms;
  z-index: 100;
  border: 1px solid #201e1b;
}

.grid-spine-item {
  font-family: 'DM Serif Display', serif;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4em;
  border: 1px solid #201e1b;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

button {
  
  position: absolute;
  z-index: 200;
  font-size: 2em;
  color: linen;
  top: 8px;
  right: 10px;
  background: none;
  outline: none;
  border: none;
  &:focus {
    outline: none;
  }
  &:hover {
    cursor: pointer; 
    animation: pulse 1500ms;
  }
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.5); }
  100% { transform: scale(1); }
}

.window {
  
  z-index: 5000;
  background-color: linen;
  height: 300px;
  width: 400px;
  position: fixed;
  top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: middle;
  justify-content: space-between;
  left: 5vw;
  border: 2px solid black;
  
  
  textarea {
    resize: none;
    background-color: linen;
    margin: auto;
    height: 80%;
    width: 85%;
    border: 2px solid black;
  }
  i {
    cursor: pointer;
    font-size: 2em;
    align-self: flex-end;
    margin-right: 2%;
  }
  #save {
    font-family: 'DM Serif Display', serif;
    margin-left: 10%;
    position: static;
    animation: none;

    color: black;
    align-self: flex-start;
    font-size: 1em;
  }
}